html, 
body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --overlay-element-border-radius: 0.3em;
    --overlay-text-shadow: 0.05em 0 0.1em #5c5c5c;
    --overlay-box-shadow: 0 0 0.5em 0 #858585;
}

body {
    padding-bottom: 2em;
}

.container {
    margin-top: 5em;
}

.row {
    margin: 0 auto 0.2em auto;
    max-width: 600px;
    display: flex;
    justify-content: center;
}

.field {
    margin: 0 0.1em;
    padding: 3em 0 3em 0;
    background-color: #d3d3d3;
    box-sizing: border-box;
    flex-basis: 30%;
    text-align: center;
}

.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgba(100, 100, 100, 0.5);
    overflow-y: hidden;
    transition: 0.5s;
    transition-property: height;
    align-items: center;
    display: flex;
}

.form-header {
    padding: 0.5em 1em;
    display: flex;
}

.overlay-header {
    margin-bottom: 2.5em;
    background-color: #e0e0e0;
}

.overlay-header h4 {
    color: #3e3e3e;
    flex: 1;
    margin: auto;
}

.overlay-header a {
    font-size: 3em;
    text-decoration: none;
    font-size: 2em;
    color: #909090;
    transition: 0.25s;
    transition-property: color;
}

.overlay-header a:hover, 
.overlay-header a:focus {
    color: #3e3e3e;
}

.overlay-content {
    margin: auto;
    width: 400px;
    font-size: 0.8em;
    background-color: #eeeeee;
}

.form-row {
    padding: 0.5em 3em;
    display: flex;
}

.form-row select,
.form-row textarea,
.form-row input {
    border-width: 0.05em;
    border-radius: var(--overlay-element-border-radius);
    border-color: #cbcbcb;
    box-shadow: var(--overlay-box-shadow);
    text-shadow: var(--overlay-text-shadow);
    flex: 1;
}

select {
    padding: 0.5em;
    background-color: #cccccc;
    font-weight: 700;
}

.time-wrap {
    padding: 0.5em 3em;
    padding-bottom: 0.7em;
    display: flex;
}

.input-label {   
    margin-top: 0.5em;
    padding-bottom: 0.2em;
    text-shadow: var(--overlay-text-shadow);
}

.time-wrap h4 {
    margin: 0;
    padding: 0.5em 1em;
    text-shadow: var(--overlay-text-shadow);
}

input[type="time"] {
    border-width: 0.05em;
    border-radius: var(--overlay-element-border-radius);
    border-color: #cbcbcb;
    box-shadow: var(--overlay-box-shadow);
    text-shadow: var(--overlay-text-shadow);
    padding: 0.5em;
}

.textareaContainer {
    border-width: 0.05em;
    border-radius: var(--overlay-element-border-radius);
    border-color: #cbcbcb;
    box-shadow: var(--overlay-box-shadow);
    height: 5em;
    flex: 1;
    display: flex;
    padding-left: 0.5em;
    background-color: #ffffff;
    text-shadow: var(--overlay-text-shadow);    
}

.textarea {
    flex: 1;
    margin: auto;
    
}

.organizer select {
    padding-left: 2em;
    background-color: #ffffff;
}

.organizer i {
    position: absolute;
    padding: 0.5em 0.5em 0.5em 0.65em;
    text-shadow: 0 0 0.4em #5c5c5c;
}

.submit-btn {
    padding: 0.5em 3em;
    float: right;
}

.submit-btn input[type="submit"] {
    margin-top: 4em;
    margin-bottom: 3em;
    border-width: 0.05em;
    border-radius: var(--overlay-element-border-radius);
    border-color: #1db1bf;
    box-shadow: var(--overlay-box-shadow);
    padding: 0.5em 1.5em;
    border: none;
    border-radius: var(--overlay-element-border-radius);
    color: #ffffff;
    background-color: #00bcd5;
    
}
.warning{
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  padding: .75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  height: 40px;
  font-size: 13px;
  white-space: nowrap ;
}
.margin-horiz{
  margin: 0 3rem 0 3rem;
}
.hidden{
  display: none;
}

/* $width: 800px;
$height: $width / 2.133;
.calendar{
  &_wrapper{
    width: 800px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  &_header{
    position: relative;
    width: $width;
    display: inline-block;
    text-align: left;
    padding-left: $width/14;
    margin: 20px 0;
  }
  table {
    border: 1px solid grey;
    border-collapse: collapse;  
    width: $width;
    height: $height;
  } 
  th {
    border: 1px solid grey;
    width: $width/7;
    height: $height/7;
  }

  td {
    border: 1px solid grey;
    width: $width/7;
    height: $height/7;
  }
} */
